{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="p4 m-4">
        <div class="col-lg-4 mt-4 mb-4 mx-auto border rounded" >
            <form action="/login/" method="post">
                {% csrf_token %}
                <h3 class="alert alert-light border rounded">Login Your Account Here</h3>
                {% if error %}
                    <div class="alert alert-danger" role="alert">
                        {{error}}
                    </div>
                {% endif %}
                <div class="col-lg-10 mt-4 mb-4 mx-auto">
                    <label for="" class="form-label" value="{{values.email}}">Email</label>
                    <input type="email" class="form-control" name="email" placeholder="Example@gmail.com">
                </div>
                <div class="col-lg-10 mx-auto">
                    <label for="" class="form-label">Password</label>
                    <input type="password" class="form-control" name="password"placeholder="********">
                </div>
                <div class="col-lg-8 mx-auto pt-4 pb-4">
                    <input class="btn btn-sm btn-info col-lg-4" type="submit" value="login">
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock%}